/* Aqui abaixo virão os @imports */
@import "../pages/about_local/exemplo.css";
@import "../pages/faq/exemplo.css";

/* Aqui são as variáveis de cores globais */
:root{
    --cor-orange: #FFC35C;
    --cor-red: #F2203E;
    --cor-blue: #11367A;
    --cor-blue-light: #7CAAFF;
    --cor-purple: #4533CD;
    --cor-header: linear-gradient(90deg, #FFC35C 0%, #F2203E 100%);
}

/* Essa propriedade abaixo serve para pré-configurar a renderização web em qualquer navegador */


/* #region Padronização: p, h1, h2, h3*/
p, h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: clamp(0.5rem, 1rem, 1.5rem);    
    color: white
}
/* #endregion */

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Não mexer nesse body */
body{
    background-color: var(--cor-blue);
}

::-webkit-scrollbar {
    display: none;
}



