/* Aqui abaixo virão os @imports */
@import "../pages/about_local/exemplo.css";
@import "../pages/faq/exemplo.css";
@import "../pages/about_company/exemplo.css";
@import "../components/footer/footer.css";

/* Aqui são as variáveis de cores globais */
:root{
    --cor-orange: #FFC35C;
    --cor-blue: #11367A;
    --cor-blue-light: #7CAAFF;
    --cor-purple: #4533CD;
    --cor-header: linear-gradient(90deg, #FFC35C 0%, #F2203E 100%);
}

/* Essa propriedade abaixo serve para pré-configurar a renderização web em qualquer navegador */


/* #region Padronização: p, h1, h2, h3*/
p, h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: clamp(0.5rem, 1rem, 1.5rem);    
    color: white
}
/* #endregion */

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body usado no Mobile */
body{
    background-color: var(--cor-blue);
    display: flex;
    flex-direction: column;
    gap: 25px;

    #Warning_main{
        display: none;
    }

}

/* Alteração no Body para Desktop! Será retirado em breve. */
@media(min-width: 730px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100dvh;

        #home{
            display: none;
        }

        #about_company{
            display: none;
        }

        #faq{
            display: none;
        }

        #about_local{
            display: none;
        }

        #products_screen{
            display: none;
        }

        footer{
            display: none;
        }

        #Warning_main{
            display: block;
            color: white;
            font-size: 150px;
        }
    }
}

/* Propriedade usada para retirar a barra de rolagem no Mobile sem impedir a ação de rolagem. */
::-webkit-scrollbar {
    display: none;
}



