@import "../../global/global.css";

.Warning_local{
    display: none;
}

.Container_local {
    background-color: transparent;
    width: 100dvw;
    height: fit-content;
    position: relative;
    display: flex;
}

/* #region Primeira Linha do About Local */

.containerNull_local{
    width: 40%;
    height: 100%;
    display: flex;
    position: relative;
}

.circleBackgroundTitle_local{
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: var(--cor-blue-light);
    border-radius: 50%;
    position: absolute;

}

.circleTitle_local{
    width: 95%;
    height: 95%;
    background-color: var(--cor-blue-light);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    
.circleTitle_local h2 {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 10px black;   
}

.circleTitle_local p{
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 10px black;   
}


.Container_local .imgContainer_local{
    width: 60%;
    height: 100%;
    background-color: transparent;
}

.Container_local .img_local {
    width: 100%;
    height: 100%;
}

/* #endregion */

/* #region Segunda Linha do About Local */

#twoContainer{
    padding-inline: 20px;
    /* background-color: red; */
}

#textUnique{
    padding-inline: 20px;
    margin-bottom: 10px;
}

.Container_local .textInfo{
    width: 55%;
    color: white;
    text-align: justify;
    font-size: clamp(0.5rem, 1rem, 1.5rem);
    line-height: 25px;
    /* background-color: red; */
}

#unique_local{
    width: 100%;
}

.Container_local .containerNull2_local{
    width: 50%;
}

#circleNullTwo{
    width: 200px;
    height: 200px;
    top: -50px;
    right: -30px;
    background-color: var(--cor-blue-light);
    justify-items: center;
    display: flex;

    img{
        transform: scale(0.8);
    }
}

/* #endregion */

/* #region Terceira Linha de Informações */

#threeContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    gap: 5px;
    /* background-color: green; */
}

.backgroundMap {
    /* background-color: red; */
    background-color: var(--cor-blue-light);
    width: 200px;
    height: 200px;
    border-radius: 25px;
    padding: 10px;
    display: flex;
}

.backgroundInfos{
    /* background-color: burlywood; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.backgroundInfos .lineInfo_local{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1px;
    /* background-color: yellow; */
    align-items: center;

    svg{
        align-self: center;
        /* background-color: red; */
    }

    p{
        font-size: 15px;
        color: white;
        font-weight: bolder;
        /* background-color: red; */
    }
}

/* #endregion */

#fourContainer{
    /* background-color: orange; */
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;

    a{
        background-color: var(--cor-orange);
        padding-inline: 70px;
        padding-block: 10px;
        color: white;
        font-weight: bolder;
        border-radius: 25px;
        border-style: none;
        text-decoration: none;
        transition: transform 0.3s ease;
    }

    a:active{
        color: black;
        background-color: rgb(97, 63, 0);
    }

    a:hover{
        transform: scale(1.1);
    }
}


/* #region Responsivo Web */
@media (min-width: 768px) {
    .ShowMobile_local{
        display: none;
    }

    .Warning_local{
        display: block;
        color: white;
        justify-self: center;
        margin-top: 20dvw;
    }
}
/* #endregion */