@import "../../global/global.css";


header {
    margin: 0px;
    width: 100%;
    height: 80px;
    background: var(--cor-header);
    display: flex;
    direction: row;
    padding: 0 20px;
}

.textMobile_home{
    color: black;
}

/* #region ========== LOGOS ====== */
.img_logo {
    width: 15%;
    height: fit-content;
}

.img_logo-mobile {
    max-width: 30%;
    height: fit-content;
}
/* #endregion */

/* #region ========= HEADER WEB ======= */
.header_web {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
    width: 100%;
}

#btn_acessibilidade {
    display: none;
}

#textWeb{
    font-weight: bold;
    font-size: 1.5rem;
}
/* #endregion */

/* #region  ========== NAVEGAÇÃO ======*/
.nav-links,
a {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: black;
    font-family: var(--font-family-text);
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--header-text-hover);
    font-size: 17px;
    transition: 0.5s;
}
/* #endregion */

/* #region =========== MENU ITENS =======*/
.menu_itens {
    position: absolute;
    display: none;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    right: 0px;
    height: fit-content;
    max-width: fit-content;
    z-index: 90;
}

#acessibilidade ul {
    display: none;
}

.menu_itens li a {
    text-decoration: none;
    color: rgb(41, 25, 0);
    display: flexbox;
    width: fit-content;
    padding: 15px;
    height: 30px;
}

.menu_itens li a:hover {
    color: var(--hover-color);
}

.menu_itens li {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: 0.3s;
    height: fit-content;
}

.menu_itens svg,
.nav-links svg {
    width: 30px;
    max-height: 30px;
}

.menu_itens li:hover,
.menu_itens li:focus {
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transform: scaleX(1.07);
}

.menu_itens ul {
    list-style: none;
    padding: 3px;
}
/* #endregion */

/* #region  ======== HAMBURGER ======= */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1000;
}

.hamburger span {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}
/* #endregion */

/* #region ========= RESPONSIVIDADE =========*/
@media screen and (max-width: 820px) {
    .nav-links {
        display: none;
    }

    .header_web {
        display: none;
        margin: 0px;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    span {
        display: flex;
    }

    .menu_itens ul {
        flex-direction: column;
    }

    .menu_itens li a {
        transition: 0.3s;
    }

    .header_mobile {
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #btn_acessibilidade{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 821px) {
    .header_mobile {
        display: none;
    }
}

/* #endregion */

/* #region ========= ANIMAÇÕES ====== */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

@keyframes efeito-menu {
    0% {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        transform: scaleX(1);
    }

    50% {
        box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3);
        transform: scaleX(1.07);
        border-radius: 5px;
    }

    100% {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        transform: scaleX(1);
    }
}

.hamburger.active,
.menu_itens li {
    animation: efeito-menu 0.4s ease;
}

.hamburger.active,
.menu_itens li:nth-child(2) {
    animation-delay: 0.12s;
}

.hamburger.active,
.menu_itens li:nth-child(3) {
    animation-delay: 0.24s;
}

.hamburger.active,
.menu_itens li:nth-child(4) {
    animation-delay: 0.36s;
}

.hamburger.active,
.menu_itens li:nth-child(5) {
    animation-delay: 0.48s;
}
/* #endregion */