@import "../../global/global.css" ;

.titular{
        display: flex;
        gap: 20px;
        justify-content: center; /*Centraliza os produtos horizontalmente*/
    }

   .avaliações {
        justify-content: center; /*Centraliza as estrelas horizontalmente*/
        gap: 5px; /*Adiciona espaço entre as estrelas*/
        margin-top: 10px;
        background-color: #e0e0e0;
        border-radius: 20px;
        padding: 20px;
        width:fit-content;
        box-sizing:border-box;
        margin-left: auto; /*Centraliza o bloco de avaliações horizontalmente*/
        margin-right: auto; /*Centraliza o bloco de avaliações horizontalmente*/
    }

    .avaliações p {
        margin: 0; /*Remove a margem padrão dos parágrafos dentro das avaliações*/
    }
    
.produto{
    padding: 30px;
     margin: 10px auto; /*Adiciona margem entre os produtos e centraliza cada produto individualmente*/
     width: 100% /*Define a largura do produto para ocupar toda a largura disponível, mas com margem automática para centralizar*/
    }

    /*Selecionar produto e ele se expande e o foco e ele*/
    .avaliações:hover {
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5); /*Aumenta a sombra ao passar o mouse, isso dá um efeito de destaque para a avaliação selecionada*/
        transition: box-shadow 0.3s ease; /*Adiciona uma transição suave ao passar o mouse*/
        transform: scale(1.02); 
            }

    .img_produto{
        width: 200px;
        height: auto;
        margin-top: 10px;
        border-radius: 20px;
        border-style:solid;
        border-width: 2px;
        border-color: #ccc;
        margin: auto; /*Centraliza a imagem dentro do produto*/ 
    }

.stars{
    display: flex;
    gap: 5px;
    justify-content: center; /*Centraliza as estrelas horizontalmente*/
}

/*As estrelas*/
.star{
    width: 25px;
    height: 25px;
    padding: 10px;
    background-color: orange;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/*Imagem perfil*/
.img_perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}